ion-view(view-title="{{personnelCtrl.selected.name}}'s details")
  ion-content
    ion-list
      div.item.item-text-wrap
        h1 {{personnelCtrl.selected.name}} {{personnelCtrl.selected.surname}}
        p {{personnelCtrl.selected.occupation}}
  
      div.item.item-input.item-text-wrap
        span.input-label Email:
        span {{personnelCtrl.selected.hcemail}}
      
      div.item.item-input.item-icon-right
        span.input-label Mobile:
        span {{personnelCtrl.selected.hcmobile}}
        a(ng-href="tel: {{personnelCtrl.selected.hcmobile}}"
          ng-show="personnelCtrl.selected.hcmobile.length > 0")
          i.icon.ion-ios-telephone-outline
        
      div.item.item-input.item-icon-right
        span.input-label Home Phone:
          span {{personnelCtrl.selected.hchomephone}}
          a(ng-href="tel: {{personnelCtrl.selected.hchomephone}}"
            ng-show="personnelCtrl.selected.hchomephone.length > 0")
            i.icon.ion-ios-telephone-outline
        
      div.item.item-input.item-text-wrap
        span.input-label Occupation:
        span {{personnelCtrl.selected.occupation}}

      div.item.item-input.item-text-wrap
        span.input-label Address:
        span {{personnelCtrl.selected.hcaddress}}


      div(ng-repeat="emergency in personnelCtrl.emergencyContacts") 
        div.item.item-divider Emergency Contact {{$index + 1}}
        label.item.item-input.item-text-wrap
          span.input-label Name:
          span {{emergency.name}}

        div.item.item-input
          span.input-label Relationship:
          span {{emergency.relationship}}

        div.item.item-input.item-icon-right
          span.input-label Mobile:
          span {{emergency.mobile}}
          a(ng-href="tel: {{emergency.mobile}}"
            ng-show="emergency.mobile.length > 0")
            i.icon.ion-ios-telephone-outline

        div.item.item-input.item-icon-right
          span.input-label Phone:
          span {{emergency.phone}}
          a(ng-href="tel: {{emergency.phone}}"
            ng-show="emergency.phone.length > 0")
            i.icon.ion-ios-telephone-outline

        div.item.item-input.item-text-wrap
          span.input-label Email:
          span {{emergency.email}}