ion-view(view-title="Search")
  ion-content
    form(ng-submit="searchCtrl.search()")
      div.item.item-input-inset
        div.search-field.row
          button.button.search-field-select.col(ng-click="searchCtrl.showSelectModal()"
                            type="button"
                            class="button-balanced") 
                            | {{searchCtrl.currentSearch.field.type | limitTo:13}}:
          div.col-67
            input.search-field-input(type="text" placeholder="contains..." ng-model="searchCtrl.currentSearch.term")
      div        
        ul.query-list-ul(ng-show="searchCtrl.personnelQueries.length > 0")
          li.query-list-li.personnel(ng-repeat="query in searchCtrl.personnelQueries") {{query.field.type}}: {{query.term}}
          li.query-list-li.clear(ng-click="searchCtrl.clearPersonnelSearch()") Clear All

    ion-list
      ion-item(ng-repeat="p in searchCtrl.personnelResults"
               ng-click = "searchCtrl.showPersonnel(p)") {{p.name}} {{p.surname}}