ion-view
  ion-nav-title
    img.nav-bar-logo(src="resources/logo-transparent.png")
    span.nav-bar-title Resource
  ion-content.search-form
    form(ng-submit="searchCtrl.search()")
      div.search-container
          div.item.item-input-inset.search-input
            div.search-field.row
              button.button.button-balanced.search-field-select.col(ng-click="searchCtrl.showSelectModal()"
                                type="button") 
                                | {{searchCtrl.currentSearch.field.type | limitTo:13}}:
              div.col-67
                input.search-field-input(type="text" placeholder="contains..." ng-model="searchCtrl.currentSearch.term")

          div.item.item-input-inset.queries(ng-show="searchCtrl.personnelQueries.length > 0")        
            ul.query-list-ul
              li.query-list-li.personnel(ng-repeat="query in searchCtrl.personnelQueries") {{query.field.type}}: {{query.term}}
              li.query-list-li.clear(ng-click="searchCtrl.clearPersonnelSearch()") Clear All



    div.list.list-inset
      div.item.item-inset(ng-show="searchCtrl.loading") Searching...
      div.item.item-inset(ng-show="searchCtrl.personnelResults.length === 0 && !searchCtrl.loading") There are no search results...
      div.item.item-inset(
                ng-show="!searchCtrl.loading"
                ng-repeat="p in searchCtrl.personnelResults"
                ng-click = "searchCtrl.showPersonnel(p)") {{p.name}} {{p.surname}}