ion-modal-view(ng-controller="LoginCtrl as ctrl")
  ion-content.login-screen
    form(ng-submit="ctrl.doLogin()")
      img.login-logo(src="resources/resource-transparent-logo.png")

      div.list.list-inset
        label.item.item-input(ng-class="{'invalid-input': ctrl.error}")
          input(ng-model="ctrl.loginForm.username" 
                placeholder="Username"
                type="text"
                required)

      div.list.list-inset
        label.item.item-input(ng-class="{'invalid-input': ctrl.error}")
          input(ng-model="ctrl.loginForm.password" 
                placeholder="Password"
                type="password"
                required)

      div.list-inset
          button.button.button-balanced.logon-button(type="submit")
            {{ctrl.loggingIn ? "Logging in..." : "Log in"}}
